body{
  background-image: url("https://media1.tenor.com/images/aa3599a306b1c125cabd3f1d5f0f17a0/tenor.gif?itemid=16687578");
  background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
left: 0;
line-height: 200px;
margain-top: -100px;
position: absolute;
text-align: center;
top:40%;
width:100%;
font-size:100px;
font-family: 'Press Start 2P', cursive;
}

.listone{
  left: 0;
line-height: 200px;
margain-top: -100px;
position: absolute;
text-align: center;
top:40%;
width:100%;
font-size:30px;
font-family: 'Press Start 2P', cursive;
color: lightblue;
}

.listtwo{
left: 0px;
line-height: 200px;
margain-top: -100px;
position: absolute;
text-align: center;
top:50%;
width:100%;
font-size: 30px;
font-family: 'Press Start 2P', cursive;
color:aqua;
}

.listthree{
  left: 0;
line-height: 200px;
margain-top: -100px;
position: absolute;
text-align: center;
top:60%;
width:100%;
font-size: 30px;
font-family: 'Press Start 2P', cursive;
color:purple;
}